html {
    background-color: white;
    margin: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}

h1{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}

h2{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}



/* classes */

.scalesvg {
    width: 100%;
    height: 600px;
    border: none;
}
